#sidebar{
    display: flex;
    left: 0px;

    height: 100%;
    width: 280px;

    padding-right: 10px;
    text-align: left;
}

#sidebar ul li {
    color: black;
    list-style: none;
    position: relative;
    padding: 20px 0px;
}

.nav-links li a {
    color:white;
    font-size: 16px;
}

.nav-links li a:hover {
    background-color: orangered;
    border-radius: 6px;
}